:root {
	color-scheme: only light;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: #111;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #6d6d6d;
}
*[disabled] {
	opacity: 0.35;
	pointer-events: none;
}
textarea:focus-visible, input:focus-visible, button:focus-visible {
	border-color: white!important;
	outline: none;
}
body {
	display: flex;
	margin: 0;
	height: 100dvh;
	justify-content: flex-start;
	background: black;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	font-family: Segoe UI;
	color: lightgray;
}
div {
	display: flex;
}
code {
	white-space: pre-wrap;
}
.avatar-container {
	justify-content: center;
	margin-top: 50px;
}
#avatar-img {
	background-image: var(--background, black);
	display: flex;
	object-fit: cover;
	width: 100px;
	height: 100px;
	background-position: center;
	background-size: 100%;
	border-radius: 100%;
	position: relative;
	border: 1px solid black;
	box-shadow: 0 0 10px white, 0 0 5px black;
	box-sizing: border-box;
}
#avatar-img:before {
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.6);
	display: block;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8);
	z-index: -2;
	animation: circular-motion-2 1.63s linear infinite;
}
#avatar-img:after {
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.45);
	display: block;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 20px rgba(255, 255, 255, 1);
	z-index: -1;
	animation: circular-motion 2.13s linear infinite;
}
@keyframes circular-motion-2 {
	from {
		transform: scale(calc(1 + var(--audio-scale, -0.1) * 1.5)) rotate(0deg) translateX(5px) rotate(0deg);
	}
	to {
		transform: scale(calc(1 + var(--audio-scale, -0.1) * 1.5)) rotate(-360deg) translateX(5px) rotate(360deg);
	}
}
@keyframes circular-motion {
	from {
		transform: scale(calc(1 + var(--audio-scale, -0.1) * 1.5)) rotate(0deg) translateX(5px) rotate(0deg);
	}
	to {
		transform: scale(calc(1 + var(--audio-scale, -0.1) * 1.5)) rotate(360deg) translateX(5px) rotate(-360deg);
	}
}
.settings {
	position: absolute;
	width: 100vw;
	max-width: 850px;
	justify-content: space-between;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
.settings * {
	user-select: none;
}
.chat {
	margin-top: 50px;
	flex-direction: column;
	height: calc(100% - 100px - 100px); /*200px = avatar, 100 = 50px * 2 margins*/
	width: 100vw;
	max-width: 850px;
}
.chat-messages {
	flex: 1;
	flex-direction: column;
	overflow-y: auto;
	border: 1px solid #444;
	border-radius: 15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 5px;
}
.chat .inputs {
	width: 100%;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 10px;
}
.message {
	flex-direction: row;
	margin-bottom: 5px;
}
.message:last-child {
	margin-bottom: 0;
}
.message-content {
	display: block;
	background: #222;
	padding: 5px;
	padding-top: 1px;
	min-width: calc(100% - 10px);
	position: relative;
	overflow-x: hidden;
}
.message:first-child .message-content {
	border-top-left-radius: 10px;
}
.message:last-child .message-content {
	border-bottom-left-radius: 10px;
}
.message.user .message-content {
	background: #111;
	text-align: center;
	min-width: 100px;
	margin: auto;
	padding: 0px 50px;
	min-height: 30px;
}
.message-content span > p {
	margin: 2px;
}
.message-content span {
	display: block;
}
.message-content pen {
	position: absolute;
	right: -100px;
	font-size: 1.5em;
	bottom: 0px;
	transition: right 0.3s;
}
.message-content:hover pen {
	right: 5px;
}
.message-content pen:hover {
	filter: drop-shadow(0px 0px 6px white);
	cursor: pointer;
}
.message-content roll {
	position: absolute;
	right: -100px;
	bottom: 2px;
	font-size: 1.5em;
	transition: right 0.3s;
}
.message-content:hover roll {
	right: 2px;
}
.message-content roll:hover {
	filter: drop-shadow(0px 0px 6px white);
	cursor: pointer;
}
.message.user .message-content span {
	margin-right: 2px;
	line-height: 1.7;
}
.message-content q {
	color: orange;
}
.message-content p em {
	color: gray;
}
.message-content img {
	margin-top: 5px;
	margin-right: 10px;
	width: 18vw;
	height: 18vw;
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
	border-radius: 100%;
	float: left;
	user-select: none;
}
#chat-input {
	flex: 1;
	background: transparent;
	border: 1px solid #444;
	border-radius: 10px;
	color: lightgray;
	padding-top: 5px;
	padding-left: 8px;
}
#chat-send {
	background: transparent;
	border: 1px solid #444;
	border-radius: 10px;
	color: lightgray;
	font-weight: bold;
	cursor: pointer;
	margin-left: 10px;
	width: 5vw;
	min-width: 100px;
}
#vad-start {
	background: transparent;
	border: 1px solid #444;
	border-radius: 10px;
	color: lightgray;
	font-weight: bold;
	cursor: pointer;
	margin-left: 10px;
	width: 5vw;
	min-width: 100px;
	font-size: 2.5em;
	line-height: 1;
	padding-top: 4px;
}
#vad-start.activated {
	border-color: orangered;
}